<div id="how-it-works" class="section">
  <div class="container">
    <h2>How It Works</h2>
    <div class="row">
      <div class="thumb pull-right">
        <%= image_tag "step-1.jpg", :alt => "Step 1" %>
      </div>
      <div class="text span7 pull-left">
        <h3>
          <small>Step 1</small>
          Login Using LinkedIn
        </h3>
        <p>
          Login with your LinkedIn account and we'll grab what we need to create your profile.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="thumb pull-left">
        <%= image_tag "step-2.jpg", :alt => "Step 2" %>
      </div>
      <div class="text span7 pull-right">
        <h3>
          <small>Step 2</small>
          Tell Us What You Offer
        </h3>
        <p>
          Choose a minimum of 3 different industry types to describe what your business offers.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="thumb pull-right">
        <%= image_tag "step-3.jpg", :alt => "Step 3" %>
      </div>
      <div class="text span7 pull-left">
        <h3>
          <small>Step 3</small>
          Tell Us What You Need
        </h3>
        <p>
          Choose a minimum of 3 different industry types to describe what your business needs.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="thumb pull-left">
        <%= image_tag "step-4.jpg", :alt => "Step 4" %>
      </div>
      <div class="text span7 pull-right">
        <h3>
          <small>Step 4</small>
          We Look For Matches
        </h3>
        <p>
          Opprtunity scans the profiles of thousands of professionals in your region each day to find you leads.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="thumb pull-right">
        <%= image_tag "step-5.jpg", :alt => "Step 5" %>
      </div>
      <div class="text span7 pull-left">
        <h3>
          <small>Step 5</small>
          Opprtunity Sends You Leads!
        </h3>
        <p>
          Opprtunity sends you lead alerts directly to your inbox and mobile phone - with multiple ways to make the sales call including Skype, Email, Phone, and Video Chat (coming soon).
        </p>
      </div>
    </div>
  </div>
</div>
