<div>
  <div class="row">
    <div class="span2">
      <%= link_to match.target do %>
        <%= image_tag match.target.image, :class => 'thumbnail', height: 120, width: 120 %>
      <% end %>
    </div>
    <div class="span8">
      <h4>
        <%= link_to match.target do %>
          <%= match.target.first_name %> <%= match.target.last_name %> 
        <% end %>
        <%= match.target.location %> (<%= match.target.zip_code %>)
      </h4>
      <p>Needs: <%= match.target.needs.map(&:name).join(', ') %></p>
      <p>Offering: <%= match.target.offerings.map(&:name).join(', ') %></p>
    </div>
  </div>
  
  <div class="row">
    <div class="span10">
      <p style="margin: 18px 0"><%= match.target.about %></p>
    </div>
  </div>
</div>
