<script>
  if(window.opener) {
    window.opener.location.reload(true);
    window.close()
  }
</script>
<div id="signupModal" class="modal hide fade">
  <%= render partial: 'home/wizard' %>
</div>

<% if current_user %>
  <% if current_user.id == @user.id %>
    <div class="row well well-small" style="margin-top: 18px;">
      <b class="user_full_name">
        <%= link_to_if current_user.id == @user.id, "Edit Profile", '#' %>
      </b>
    </div>
  <% end %>
  <div class="row">
    <div class="span2">
      <%= render '/home/sidebar' %>
    </div>
    <div class="span10">
      <div class="row">
        <div class="span5">
          <h3>Needs</h3>
          <ul>
            <% @user.needs.each do |need| %>
              <li><%= need.name %></li>
            <% end %>
          </ul>
        </div>
        <div class="span5">
          <h3>Offering</h3>
          <ul>
            <% @user.offerings.each do |offering| %>
              <li><%= offering.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <hr />

      <% if @user.matches.count > 0 %>
        <div class="row">
          <div class="span10">
            <h3>Top Matches</h3>
            <% @user.matches.each do |match| %>
              <%= render 'home/match', match: match %>
            <% end %>
          </div>
        </div>
        <hr />
      <% end %>

      <div class="row">
        <div class="span10">
          <div class="row">
            <div class="span5">
              <h3>Upcoming Meetings</h3>

              <table class="table table-hover table-bordered">
                <tbody>
                  <tr >
                    <td><%= image_tag 'http://m.c.lnkd.licdn.com/media/p/1/000/1fe/364/18cae58.jpg', :class => 'thumbnail', height: 35, width: 35 %></td>
                    <td><a href="#">Sara Jones</td>
                    <td>3/13/2013 at 09:00PM</td>
                    <td><i class="icon-cloud"></i> Skype</td>
                  </tr>
                  <tr >
                    <td><%= image_tag 'http://m.c.lnkd.licdn.com/media/p/3/000/09e/35b/24484ad.jpg', :class => 'thumbnail', height: 35, width: 35 %></td>
                    <td><a href="#">Steve Raymond</a></td>
                    <td>3/15/2013 at 11:00AM</td>
                    <td><i class="icon-google-plus-sign"></i> Google+</td>
                  </tr>       
                </tbody>
              </table>
            </div>

            <div class="span5">
              <h3>Past Meetings</h3>

              <table class="table table-hover table-bordered">
                <tbody>
                  <tr >
                    <td><%= image_tag 'http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/3/000/091/153/1f268f5.jpg', :class => 'thumbnail', height: 35, width: 35 %></td>
                    <td><a href="#">Mike Smith</td>
                    <td>Last Tuesday at 6:00PM</td>
                    <td><i class="icon-google-plus-sign"></i> Google+</td>
                  </tr>
                  <tr >
                    <td><%= image_tag 'http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/7/000/203/115/1e0962f.jpg', :class => 'thumbnail', height: 35, width: 35 %></td>
                    <td><a href="#">Bob Poole</a></td>
                    <td>Last Tuesday at 10:30AM</td>
                    <td><i class="icon-phone-sign"></i> Phone</td>
                  </tr>      
                  <tr >
                    <td><%= image_tag 'http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/3/000/066/087/302aa81.jpg', :class => 'thumbnail', height: 35, width: 35 %></td>
                    <td><a href="#">Steve Grosse</a></td>
                    <td>Last Monday at 9:30AM</td>
                    <td><i class="icon-cloud"></i> Skype</td>
                  </tr>   
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>