<script>
  if(window.opener) {
    window.opener.location.reload(true);
    window.close()
  }
</script>
<% if params[:controller] == 'home' %>
  <div id="signupModal" class="modal hide fade">
    <%= render partial: 'home/wizard' %>
  </div>
<% end %>

<% if current_user %>
  <% if current_user.id == @user.id && params[:controller] == 'home' %>
    <div class="row well well-small" style="margin-top: 18px;">
      <b class="user_full_name">
        <%= link_to_if current_user.id == @user.id, "Edit Profile", '#' %>
      </b>
    </div>
  <% end %>
  <div class="row">
    <div class="span2">
      <%= render '/home/sidebar' %>
    </div>
    <div class="span10">
      <div class="row">
        <div class="span3">
          <h3>I Need</h3>
          <ul>
            <% @user.needs.each do |need| %>
              <li><%= need.name %></li>
            <% end %>
          </ul>
        </div>
        <div class="span7">
          <h3>I Offer</h3>
          <ul>
            <% @user.offerings.each do |offering| %>
              <li><%= offering.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <hr />

      <% if @user.about %>
        <div class="row">
          <div class="span10">
            <h3>My Pitch</h3>
            <p><%= @user.about %></p>
          </div>
        </div>
        <hr />
      <% end %>      

      <% if @user.matches.count > 0 %>
        <div class="row">
          <div class="span10">
            <h3>Top Matches</h3>
            <% @user.matches.each do |match| %>
              <%= render 'home/match', match: match %>
            <% end %>
          </div>
        </div>
        <hr />
      <% end %>

    </div>
  </div>
<% end %>