  <!-- TESTIMONIALS 3col -->
  <div class="row testimonials">
      <div class="span4">
        <%= image_tag 'img/testimonials_placeholder.png' %>
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="span4">
        <%= image_tag 'img/testimonials_placeholder.png' %>
        <h2>Quis nostrud</h2>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. </p>
      </div>
      <div class="span4">
        <%= image_tag 'img/testimonials_placeholder.png' %>
        <h2>Cupidatat non proident</h2>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
  </div>

  <div class="section-title">
    <h2>Typica is fully featured HTML template based on Bootstrap</h2>
  </div>

  <!-- TESTIMONIALS 4col -->
  <div class="row testimonials">
      <div class="span3">
        <%= image_tag 'img/testimonials_placeholder.png' %>
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="span3">
        <%= image_tag 'img/testimonials_placeholder.png' %>
        <h2>Quis nostrud</h2>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. </p>
      </div>
      <div class="span3">
        <%= image_tag 'img/testimonials_placeholder.png' %>
        <h2>Cupidatat non proident</h2>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="span3">
        <%= image_tag 'img/testimonials_placeholder.png' %>
        <h2>Quis nostrud</h2>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. </p>
      </div>
  </div>
</div><!-- .container -->

 <div class="hero-unit">
   <div class="container">
     <div class="row">
       <div class="span12">
         <h1>Who are we?</h1>
       </div>
     </div>
   </div>
 </div>

<div class="container">
  <div class="team">

    <div class="row">

      <div class="span4 section-title horizontal-left">
        <h2>Team members <i class="icon-chevron-right"></i></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        <div class="btn btn-large pull-right">Know more &raquo;</div></p>
      </div>

      <div class="span8">
        <div class="row">
          <div class="span2 item">
            <div class="circle-thumbnail">
              <%= image_tag 'img/team/1.jpg' %>
            </div>
            <h2>Kathy Jackson</h2>
            <p>Incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="span2 item">
            <div class="circle-thumbnail">
              <%= image_tag 'img/team/2.jpg' %>
            </div>
            <h2>Erin Fields</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor. </p>
          </div>
          <div class="span2 item">
            <div class="circle-thumbnail">
              <%= image_tag 'img/team/3.jpg' %>
            </div>
            <h2>Steven Jones</h2>
            <p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
          </div>
          <div class="span2 item">
            <div class="circle-thumbnail">
              <%= image_tag 'img/team/4.jpg' %>
            </div>
            <h2>Jan Kowalski</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>

    
    
  </div>