<!DOCTYPE html>
<html lang="en">

  <%= render 'layouts/head' %>
  <% # include the landing style sheet bootstraps file %>

  <body>

    <%= render 'layouts/navbar' %>



    <div class="wrap">
      <%= render 'layouts/slider_block' %>
      <%= render 'layouts/front_page_signed_out' %>
    </div> <!-- /container -->

    <%= render 'layouts/footer' %>

  </body>
</html>
